:root {
  --primary-1: #4c6982;
  --primary-2: #b4ffd8;
  --danger-1: #e63946;
  --danger-2: #c81927;
  --success-1: #33c1b1;
  --success-2: #2a9d8f;
  --gray-1: #f6f6f6;
  --gray-2: #ddd;
  --gray-3: #34495e;
  --text-color: #444;
  --text-primary-color: #ffffff;

  --border: 1px solid var(--gray-2);
  --border-radius: 4px;

  --font-family: 'Poppins', sans-serif;
  --font-family-secondary: 'Amatic SC', sans-serif;
}

// reset
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

// flex

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-fill {
  flex: 1 1 auto;
}

// padding

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-30 {
  padding: 30px;
}

// margin

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}
